{% extends 'base.html' %}
{% block title %}
    Delete
{% endblock %}

{% block content %}
<h1 class="text-center" style="margin-top:15px">Delete</h1>
{%if btn == 2%}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="width:98%;margin: 10 auto">
    All data deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%elif btn == 1%}
<div class="alert alert-warning alert-dismissible fade show" role="alert" style="width:98%;margin: 10 auto">
    Deleted!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endif%}
<div class="grid text-center">
    <form method="get" id="search" style="display:inline-flex;margin: 50 auto;">
        {% comment %} {{form1}} {% endcomment %}
        <input class="form-control" type="text" name="id" maxlength="5" placeholder="ID" style=width:150px;margin:10px>
        <input class="form-control" type="text" name="name" maxlength="20" placeholder="Product name" style=width:150px;margin:10px>
        <input class="form-control" type="text" name="category" maxlength="20" placeholder="Category" style=width:150px;margin:10px>
        <input type="submit" name="srchbtn" value="Search" class="btn btn-secondary" style="margin: 10;width:150px;">
    </form>
</div>

<form id="del" method="POST">    {%csrf_token%}
    {%if flag%}
        {%if data%}
            <table class="table table-light table-stripped" style="width: 75%; height: 150px; margin: 20 auto;">
                <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td><input type="checkbox" name="selected_rows" value="{{ row.PRODUCTID }}"></td>
                        <td>{{ row.PRODUCTID }}</td>
                        <td>{{ row.PRODUCTNAME }}</td>
                        <td>{{ row.CATEGORY }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <div class="alert alert-warning" role="alert" style="width:98%;margin: 10 auto">
                No result found!
            </div>
        {%endif%}
    {%endif%}
    <div style="text-align:center">
        <input type="submit" name="delbtn" value="Delete" class="btn btn-warning" style="width:25%;margin-top: 25;">
    </div>
</form>

<form method='POST'>    {%csrf_token%}
    <div style="text-align:center">
    <input type="submit" name="delallbtn" value="Delete all" name="delall" class="btn btn-danger" style="width:25%;margin: 0 auto;">
    </div>
</form>

{% endblock %}