{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<h1 class="text-center" style="margin-top:15px">Dashboard</h1>
<table class="table table-light table-stripped" style="width: 75%; height: 150px; margin: 50 auto;">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.PRODUCTID }}</td>
            <td>{{ row.PRODUCTNAME }}</td>
            <td>{{ row.CATEGORY }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}